/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */








/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;

  margin: 0;
  padding: 20px;
  padding-top: 5%;
}

ul {

  list-style-type: none;
  padding: 0;
  width: 50%;
}

ul, div {
  margin: 0 auto;

}

li {

  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input {
  flex: 1;

  padding: 10px;
  border: 1px solid #ccc;

  border-radius: 4px;
  margin-right: 8px;
  font-size: 16px;
}

.delete-icon {
  cursor: pointer;
  color: #f44336;

  width: 24px;
  height: 24px;
}

button {

  padding: 10px 15px;
  background-color: #007bff;
  color: white;

  border: none;
  border-radius: 4px;

  cursor: pointer;
  font-size: 16px;
}

button:hover {

  background-color: #0056b3;
}